*.o
*.log
*.out
mountain 
mem_bind_omp
thread_bind
thread_bind_omp
basic
main.exe
log
mat_vec_mult
work_imbalanced
01_superscalar
02_branch_prediction
01_CM
01-CacheMountain/
02_list_array 
02-daxpy
*.s
*.pdf
*.asm
*.pyc
__pycache__/
exercise/
*.csv
daxpy
01-mat_vec_mult
02-work_imbalanced
*.ptx
02-wmma.cu
01-daxpy-simd.cu
02-dot
build/
*.txt
.Xilinx/
*.back
.vscode/
*.json
*.DS_Store
*_stats/
*.bin
*.pyc
moesi_two_level.py
04-GEM5-RCC/utils/
bin/
*_log/
*.code-worspace
*.bib
*.svg
*.ini
*.dot